<!-- for mathjax support -->
{% if page.usemathjax %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
    </script>
    <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}



Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' }}">Meshcapade Wiki</a></li>
  <li><a href="{{ '/digidoppel' }}">digidoppel Wiki</a></li>
  <li><a href="{{ '/SMPL' }}">SMPL Wiki</a></li>
  <li><a href="{{ '/SMPL#download-models' }}">SMPL Licences</a></li>
  <li><a href="{{ '/SMPL#model-tools' }}">Software tools for SMPL</li>
  <li><a href="{{ '/FAQs' }}">Frequently Asked Questions</a></li>
</ul>
