Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' }}">Meshcapade Wiki</a></li>
  <li><a href="{{ '/SMPL' }}">SMPL Wiki</a></li>
  <li><a href="{{ '/SMPL#model-tools' }}">Software tools for SMPL</li>
  <li><a href="{{ '/digidoppel' }}">digidoppel Wiki</a></li>
  <li><a href="{{ '/SMPL#download-models' }}">Get Licences</a></li>
  <li><a href="{{ 'https://meshcapade.com' }}">Visit digidoppel.com</a></li>
</ul>
